.wrap {
    display: flex;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 10px 10px;
}

.preloader {
    height: 80px;
    width: 80px;
    margin: auto;
    background: #fff url(preloader.gif);
    background-size: contain;
}

.user_avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.name {
    display: flex;
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #841d29;
}

.bio {
    display: flex;
    margin: 0 0 15px 0;
    color: #383838;
    font-style: italic;
}

.connection {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.connection a {
    margin-right: 10px;
}

.connection svg {
    transition: fill .5s;
}

.email:hover .email__img,
.phone:hover .phone__img,
.gh:hover .gh__img,
.in:hover .in__img {
    fill: #7d59b5;
}

.email:active .email__img,
.phone:active .phone__img,
.gh:active .gh__img,
.in:active .in__img {
    fill: #CCCCCC;
}

.wrap:nth-child(2) {
    min-height: 500px;
    flex-direction: column;
    justify-content: space-between;
}

.repo {
    box-sizing: border-box;
}

.title_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.title {
    margin: 0;
    align-self: flex-start;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #0e1338;
}

.container h4 {
    margin-bottom: 10px;
}

.portfolio {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #383838;
    font-style: italic;
    transition: color .5s;
}

.portfolio:hover {
    color: #283593;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.arrows button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity .5s;
}

.arrows button:hover {
    opacity: 0.8;
}

.arrows button:disabled {
    opacity: 0.2;
    cursor: default;
}

.arrow_left {
    transform: rotate(180deg);
}

.with_repo {
    display: flex;
    flex-direction: column;
}

.items {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

.items__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
}

.item {
    padding: 7px;
    margin: 0 0 10px 0;
    line-height: 24px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 10px;
    transition: border .5s;
}

.link:nth-child(2n+1) .item {
    background-color: #f7f8ff;
}

.link:nth-child(2n) .item {
    background-color: #fff5e6;
}

.item:hover {
    border: 1px solid #283593;
}

.link .repo__name {
    transition: color .5s;
}

.link:hover .repo__name {
    color: #563d7c
}

.link {
    margin: 0 0 4px 0;
    color: black;
    text-decoration: none;
}

.link:visited {
    color: black;
}

.item:active {
    opacity: 0.4;
}

.repo__name {
    margin: 0 10px 10px 0;
    font-style: italic;
    color: #841d29;
}

.repo__descr {
    font-style: italic;
}

.errorText {
    font-size: 18px;
    line-height: 21px;
}

.tryAgain {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.repo__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.language {
    position: relative;
    min-width: 80px;
    padding-left: 22px;
    margin: 0 16px 0 0;
}

.html:before, .css:before, .js:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.html:before {
    background: #e34c26;
}

.css:before {
    background: #563d7c;
}

.js:before {
    background: #ffdc5a;
}

.star {
    position: relative;
    margin: 0 18px 0 0;
    padding-left: 22px;
    font-size: 12px;
    line-height: 0;
    color: #999999;
}

.star:before {
    content: url("../../img/Star.svg");
    position: absolute;
    left: 2px;
    bottom: -6px;
    height: 15px;
    width: 15px;
}

.fork {
    position: relative;
    padding-left: 22px;
    margin: 0 15px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}

.fork:before {
    content: url("../../img/Fork.svg");
    position: absolute;
    left: 2px;
    bottom: 5px;
    height: 11px;
    width: 15px;
}

.noRepo_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 540px) {
    .name {
        font-size: 22px;
    }

    .container .title {
        font-size: 18px;
    }

    .portfolio_wrap {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .name {
        margin-bottom: 5px;
        font-size: 20px;
    }

    .container .title {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .user_avatar {
        width: 170px;
        height: 170px;
    }

    .item {
        line-height: 20px;
    }
}

@media (max-width: 436px) {
    .name {
        font-size: 18px;
    }

    .container .title {
        font-size: 16px;
    }

    .user_avatar {
        width: 150px;
        height: 150px;
    }

    .fork, .star {
        display: none;
    }
}

@media (max-width: 380px) {
    .wrap {
        flex-direction: column;
        align-items: center;
    }

    .user_avatar {
        width: 200px;
        height: 200px;
        margin-bottom: 15px;
    }

    .container {
        width: 100%;
        align-items: center;
    }
}