.wrap {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    width: 600px;
    color: #383838;
    padding: 20px;

    /*padding: 10px;*/
}

.wrap h1 {
    font-family: 'Lora', serif;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #841d29;
}