.wrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 650px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.wrap h1 {
    font-family: 'Lora', serif;
    font-weight: 600;
    letter-spacing: .4px;
    color: #841d29;
}

@media (max-width: 480px) {
    .wrap {
        min-height: 530px;
    }

    .wrap h1 {
        margin: 0;
        font-size: 28px;
    }
}

@media (max-width: 320px) {
    .wrap {
        min-height: 450px;
    }
}